fastapi
uvicorn[standard]

aiohttp
asyncpg
sqlalchemy
alembic
psycopg2-binary

elasticsearch==8.11.0

spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.8.0/en_core_web_md-3.8.0-py3-none-any.whl

PyPDF2
python-docx
aiofiles
python-multipart

pydantic
pydantic-settings
python-dotenv
typer
tqdm

fastapi-cors

loguru

pytest
pytest-asyncio
httpx